function Board.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push constant 160
pop this 1
push constant 60
pop this 2
push argument 0
pop this 3
push constant 180
pop this 4
push constant 2
pop this 5
push this 4
push argument 0
call Math.divide 2
pop this 6
push this 6
push constant 2
call Math.divide 2
pop this 9
push argument 0
push argument 0
call Math.multiply 2
pop this 7
push this 7
call Array.new 1
pop this 0
push pointer 0
call Board.clearBoard 1
pop temp 0
push pointer 0
return
function Board.dispose 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push this 0
call Memory.deAlloc 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.getBoardArray 0
push argument 0
pop pointer 0
push this 0
return
function Board.getBoardSize 0
push argument 0
pop pointer 0
push this 3
return
function Board.clearBoard 1
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push this 7
pop this 8
label WHILE_EXP0
push local 0
push this 7
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.drawBoard 2
push argument 0
pop pointer 0
push this 5
push constant 2
call Math.divide 2
pop local 0
push constant 1
pop local 1
label WHILE_EXP0
push local 1
push this 3
lt
not
if-goto WHILE_END0
push this 1
push local 1
push this 6
call Math.multiply 2
add
push local 0
sub
push this 2
push this 1
push local 1
push this 6
call Math.multiply 2
add
push local 0
add
push this 2
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push this 1
push local 1
push this 6
push local 0
add
call Math.multiply 2
add
push this 6
push constant 2
call Math.divide 2
sub
push constant 8
sub
push this 2
push constant 24
sub
call Number.drawNumber 3
pop temp 0
push this 1
push this 2
push local 1
push this 6
call Math.multiply 2
add
push local 0
sub
push this 1
push this 4
add
push this 2
push local 1
push this 6
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push this 1
push constant 18
sub
push this 2
push local 1
push this 6
call Math.multiply 2
add
push this 6
push constant 2
call Math.divide 2
sub
push constant 8
sub
call Number.drawNumber 3
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 1
push this 1
push local 1
push this 6
call Math.multiply 2
add
push this 6
push constant 2
call Math.divide 2
sub
push constant 8
sub
push this 2
push constant 24
sub
call Number.drawNumber 3
pop temp 0
push local 1
push this 1
push constant 18
sub
push this 2
push local 1
push this 6
call Math.multiply 2
add
push this 6
push constant 2
call Math.divide 2
sub
push constant 8
sub
call Number.drawNumber 3
pop temp 0
push constant 0
return
function Board.drawMove 2
push argument 0
pop pointer 0
push argument 1
push constant 1
sub
pop argument 1
push argument 2
push constant 1
sub
pop argument 2
push pointer 0
push argument 1
push argument 2
call Board.isCellFree 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
push argument 2
call Board.colToX 2
push this 6
push this 9
sub
push constant 2
call Math.divide 2
add
pop local 0
push pointer 0
push argument 1
call Board.rowToY 2
push this 6
push this 9
sub
push constant 2
call Math.divide 2
add
pop local 1
push argument 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 0
push local 1
call Board.drawCross 3
pop temp 0
goto IF_END1
label IF_FALSE1
push pointer 0
push local 0
push local 1
call Board.drawZero 3
pop temp 0
label IF_END1
push argument 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push this 3
call Math.multiply 2
push argument 2
add
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END2
label IF_FALSE2
push argument 1
push this 3
call Math.multiply 2
push argument 2
add
push this 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END2
push this 8
push constant 1
sub
pop this 8
push constant 0
not
return
function Board.rowToY 0
push argument 0
pop pointer 0
push this 2
push argument 1
push this 6
call Math.multiply 2
add
return
function Board.colToX 0
push argument 0
pop pointer 0
push this 1
push argument 1
push this 6
call Math.multiply 2
add
return
function Board.drawCross 0
push argument 0
pop pointer 0
push argument 1
push argument 2
push this 9
add
push argument 1
push this 9
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push this 9
add
push argument 1
push this 9
add
push argument 2
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push this 9
add
push argument 2
push this 9
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push this 9
add
push argument 2
push this 9
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Board.drawZero 2
push argument 0
pop pointer 0
push this 9
push constant 2
call Math.divide 2
pop local 0
push local 0
push this 5
sub
pop local 1
push argument 1
push local 0
add
push argument 2
push local 0
add
push local 0
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push local 0
add
push argument 2
push local 0
add
push local 1
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Board.isCellFree 0
push argument 0
pop pointer 0
push argument 1
push this 3
call Math.multiply 2
push argument 2
add
push this 0
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Board.isFieldOccupied 0
push argument 0
pop pointer 0
push this 8
push constant 0
eq
return
function Board.drawWinRow 2
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 1
sub
call Board.rowToY 2
push this 6
push constant 2
call Math.divide 2
add
pop local 0
push this 5
push constant 2
call Math.divide 2
pop local 1
push this 1
push local 0
push local 1
sub
push this 1
push this 4
add
push local 0
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.drawWinColumn 2
push argument 0
pop pointer 0
push pointer 0
push argument 1
push constant 1
sub
call Board.colToX 2
push this 6
push constant 2
call Math.divide 2
add
pop local 0
push this 5
push constant 2
call Math.divide 2
pop local 1
push local 0
push local 1
sub
push this 2
push local 0
push local 1
add
push this 2
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Board.drawWinMainDiagonal 3
push argument 0
pop pointer 0
push this 1
pop local 1
push this 2
pop local 2
push this 5
push constant 1
sub
pop local 0
label WHILE_EXP0
push local 0
push constant 0
lt
not
not
if-goto WHILE_END0
push local 1
push local 0
add
push local 2
push local 1
push this 4
add
push local 2
push this 4
add
push local 0
sub
call Screen.drawLine 4
pop temp 0
push local 1
push local 2
push local 0
add
push local 1
push this 4
add
push local 0
sub
push local 2
push this 4
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.drawWinAntiDiagonal 3
push argument 0
pop pointer 0
push this 1
pop local 1
push this 2
pop local 2
push this 5
push constant 1
sub
pop local 0
label WHILE_EXP0
push local 0
push constant 0
lt
not
not
if-goto WHILE_END0
push local 1
push local 2
push this 4
add
push local 0
sub
push local 1
push this 4
add
push local 0
sub
push local 2
call Screen.drawLine 4
pop temp 0
push local 1
push local 0
add
push local 2
push this 4
add
push local 1
push this 4
add
push local 2
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
