function Number.drawNumber 1
push constant 32
push argument 2
call Math.multiply 2
push argument 1
push constant 16
call Math.divide 2
add
pop local 0
push argument 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call Number.drawOne 1
pop temp 0
push constant 0
return
label IF_FALSE0
push argument 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call Number.drawTwo 1
pop temp 0
push constant 0
return
label IF_FALSE1
push argument 0
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call Number.drawThree 1
pop temp 0
push constant 0
return
label IF_FALSE2
push argument 0
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
call Number.drawFour 1
pop temp 0
push constant 0
return
label IF_FALSE3
push argument 0
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
call Number.drawFive 1
pop temp 0
push constant 0
return
label IF_FALSE4
push argument 0
push constant 6
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
call Number.drawSix 1
pop temp 0
push constant 0
return
label IF_FALSE5
push argument 0
push constant 7
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
call Number.drawSeven 1
pop temp 0
push constant 0
return
label IF_FALSE6
push argument 0
push constant 8
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
call Number.drawEight 1
pop temp 0
push constant 0
return
label IF_FALSE7
push argument 0
push constant 9
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
call Number.drawNine 1
pop temp 0
push constant 0
return
label IF_FALSE8
push constant 0
return
function Number.drawOne 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 256
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 384
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 320
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 288
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 272
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 264
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 256
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 256
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 256
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 256
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 256
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 256
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 256
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 256
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Number.drawTwo 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Number.drawThree 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Number.drawFour 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Number.drawFive 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Number.drawSix 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 16
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Number.drawSeven 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Number.drawEight 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Number.drawNine 0
push constant 16384
push argument 0
add
pop static 0
push static 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push static 0
push constant 64
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 96
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 128
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 160
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 192
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 224
add
push constant 2064
call Memory.poke 2
pop temp 0
push static 0
push constant 256
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 288
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 320
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 352
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 384
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 416
add
push constant 2048
call Memory.poke 2
pop temp 0
push static 0
push constant 448
add
push constant 4080
call Memory.poke 2
pop temp 0
push static 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
